[submodule "cookbooks/golang"]
	path = cookbooks/golang
	url = https://github.com/joshholt/chef-golang.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
